.DateInput_input {
  background-color: #1F233D;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0;
  width: initial;
}

.DateRangePickerInput {
  background-color: #1F233D;
  border-radius: .5rem;
  overflow: hidden;
}

.DateRangePickerInput_arrow {
  position: relative;
  vertical-align: initial;
  padding-right: .5rem;
}

.DateRangePickerInput_arrow_svg {
  fill: #fff;
}

.DateRangePickerInput_calendarIcon_svg {
  vertical-align: initial;
}

.DateInput_input__focused {
  border-bottom: none;
}

/* actual picker */

.DateRangePicker_picker {
 border-radius: 1rem;
}


.CalendarDay__selected {
  background: #1F233D;
  border-color: #1F233D;
}

.CalendarDay__selected:hover {
  background: #464F8A;
  border-color: #464F8A;
}

.CalendarDay__hovered_span {
  background: #464F8A;
  border-color: #464F8A;
  color: white;
}

.CalendarDay__hovered_span:hover {
  background: #1F233D;
  border-color: #1F233D;
  color: white;
}

.CalendarDay__selected_span {
  background: #464F8A;
  border-color: #464F8A;
}

.CalendarDay__selected_span:hover {
  background: #1F233D;
  border-color: #1F233D;
}