.DateInput_input {
  background-color: #1F233D;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0;
  width: initial;
}

.DateRangePickerInput {
  background-color: #1F233D;
  border-radius: .5rem;
  overflow: hidden;
}

.DateRangePickerInput_arrow {
  position: relative;
  vertical-align: initial;
  padding-right: .5rem;
}

.DateRangePickerInput_arrow_svg {
  fill: #fff;
}

.DateRangePickerInput_calendarIcon_svg {
  vertical-align: initial;
}

.DateInput_input__focused {
  border-bottom: none;
}