//typography

@font-face 
  src: url('../fonts/sofia_light.ttf')
  font-family: Sofia
  font-weight: 200


@font-face 
  src: url('../fonts/sofia_medium.ttf')
  font-family: Sofia
  font-weight: 400


@font-face 
  src: url('../fonts/sofia_bold.ttf')
  font-family: Sofia
  font-weight: 600


@font-face 
  src: url('../fonts/sofia_black.ttf')
  font-family: Sofia
  font-weight: 800
  

@font-face
  src: url('../fonts/sign_bold.woff')
  font-family: Sign
  font-weight: 800

@font-face
  src: url('../fonts/sign_bold_italic.woff')
  font-family: Sign
  font-weight: 800
  font-style: italic

@font-face
  src: url('../fonts/sign_regular.woff')
  font-family: Sign
  font-weight: 400

@font-face
  src: url('../fonts/sign_regular_italic.woff')
  font-family: Sign
  font-weight: 400
  font-style: italic

  
// general styles

*
  outline: none

body
  font: 18px sofia, sans-serif
  background-color: black
  color: white

a
  color: white
  text-decoration: none

h1, h2
  font-family: Sign
  font-weight: 400
  text-transform: uppercase
  text-align: center

h1
  font-size: 2.5em
  line-height: 1.5em
  
h2
  margin-top: 2em
  font-size: 2em

input, textarea, button
  padding: .8rem 1rem
  border: none
  border-radius: .5rem
  background: #1F233D
  color: white
  font-size: 1rem

button
  font-weight: 600


@import 'range'
